$dark: #2e2e2e;
$white: #ffffff;

.section-wrapper {
    &--theme {
        &-light {
            --color: #{$dark};
        }

        &-dark {
            --color: #{$white};
        }
    }

    &__title {
        font-size: toRem(22);
        line-height: toRem(26);
        font-weight: 900;
        margin-bottom: toRem(20);
        color: var(--color);
    }

    &__button {
        display: inline-block;
        margin-top: 20px;
    }

    @media (min-width: 768px) {
        &__title {
            font-size: toRem(30);
            line-height: toRem(36);
        }
    }

    @media (min-width: $desktop) {
        &__title {
            margin-bottom: toRem(30);
        }

        &__button {
            margin-top: toRem(30);
        }
    }
}
