.articles {
    &__breadcrumb {
        @include marginLevel(bottom, purple);
    }

    &__filters {
        @include marginLevel(bottom, pink)
    }

    &__button {
        & + & {
            margin-left: toRem(12);
        }
    }

    &__blog {
        display: grid;
        grid-template-columns: 1fr;
        gap: toRem(16);
    }

    &__pagination {
        margin: 0 auto;
        text-align: center;
    }

    @media (min-width: 650px) {
        &__blog {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 1200px) {
        &__blog {
            grid-template-columns: 1fr 1fr 1fr;
            gap: toRem(20);
        }
    }
}
