.article-card {
    &__image {
        width: 100%;
        height: toRem(260);
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
        border-radius: toRem(6);

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
        }
    }

    &__content {
        padding: toRem(24) 0;
    }

    &__title {
        margin-bottom: toRem(16);
        height: toRem(48);
    }

    &__description {
        display: inline-block;
        margin-bottom: toRem(16);
        height: toRem(60);
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
}
