.article-card {
    &__image {
        width: 100%;
        height: toRem(260);
        border: 1px solid;
        box-sizing: border-box;
    }

    &__content {
        padding: toRem(24) 0;
    }

    &__title {
        margin-bottom: toRem(16);
    }

    &__description {
        margin-bottom: toRem(16);
    }
}
