.input {
    &__label {
        margin-bottom: toRem(8);
    }
    &__field {
        border: 1px solid #909cb5;
        border-radius: toRem(6);
        padding: toRem(12) toRem(10);
        background-color: #fff;
        color: #909cb5;

        input::placeholder {
            color: #909cb5;
        }
    }
}
