.price {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--size {
        &-base {
            span {
                @include fontSize(p2, medium);
            }

            del {
                @include fontSize(p3);
            }
        }
    }

    &--row {
        flex-direction: row;
        align-items: flex-end;

        del {
            margin-left: toRem(12);
        }
    }

    span {
        color: $dark;
        font-weight: 600;
    }

    del {
        color: $secondary;
    }
}
