.equipment-list {
    &__container {
        padding-top: 24px;
    }

    &__banner {
        width: 100%;
        height: 420px;
        background-color: #ccc;
        margin-bottom: 24px;
    }
}
