.equipment-filters {
    &__checkbox {
        width: 16px;
        height: 16px;
        margin: 0;
    }

    &__group {
        & + & {
            margin-top: 12px;
        }
    }

    &__title {
        margin-bottom: 8px;
    }

    &__condition {
        display: flex;
        align-items: center;

        & + & {
            margin-top: 12px;
        }

        span {
            flex-grow: 1;
            margin-left: 8px;
        }
    }
}
