//breakpoints

$tablet: 650px;
$maxMobile: $tablet - 1px;

$tabletLate: 960px;
$maxMobileLate: $tabletLate - 1px;

$desktop: 1200px;
$maxTablet: $desktop - 1px;

$freezeRem: 1440px;
$maxRems: 1600px;
