// =============== BACKGROUND ===============

$dark: #2a2c38;
$darken: #1a1a25;
$white: #fff;
$primary: #f53b49;
$secondary: #909cb5;

$colorDark: #1c2329;
$colorWhite: #fff;
$colorBlack: #000;
$colorBlue: #007aff;
$colorRed: #c81818;

$lightBackgroundBase: $colorWhite;
$lightBackgroundBrand: #0d7eff;
$lightBackgroundSecondary: #f8f8f8;
$lightBackgroundOverlay: rgba(#001123, 0.15);
$lightBackgroundOverlaySecondary: rgba($colorWhite, 0.5);
$lightBackgroundCritical: #ee8989;
$lightBackgroundBaseGradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.65) 28.5%,
    #fff 100%
);
$lightBackgroundOverlayGradient: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 0%,
    rgba(248, 248, 248, 0.65) 28.5%,
    #f8f8f8 100%
);
$lightBackgroundOverlayGradientTop: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0.65) 0%,
    rgba(248, 248, 248, 0) 100%
);

// =============== TYPOGRAPHY ===============

$lightTextBrand: $colorBlue;
$lightTextBrandHover: #005bbf;
$lightTextBase: #001123;
$lightTextSecondary: #828b94;
$lightTextOnBrand: $colorWhite;
$lightTextOnCritical: $colorWhite;
$lightTextSecondaryOnBrand: rgba($colorWhite, 0.75);
$lightTextOnPrimaryInverse: $colorBlue;
$lightTextPlaceholder: #c1c7ce;
$lightTextPlaceholderFocus: #868e96;
$lightTextSuccess: #3b8d39;
$lightTextCritical: $colorRed;
$lightTextOnBrandInverse: $colorWhite;

// =============== CONTROLS ===============

$lightControlBackgroundBrand: $colorBlue;
$lightControlBackgroundBrandHover: #0068d9;
$lightControlBackgroundBrandSecondaryInverse: rgba($colorWhite, 0.25);
$lightControlBackgroundBrandSecondary: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.08),
        rgba(0, 122, 255, 0.08)
    ),
    #fff;
$lightControlBackgroundBrandSecondaryHover: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.16),
        rgba(0, 122, 255, 0.16)
    ),
    #fff;
$lightControlBackgroundBrandSecondaryTransparent: rgba($colorBlue, 0.08);
$lightControlBackgroundBrandSecondaryTransparentHover: rgba($colorBlue, 0.16);
$lightControlBackgroundBrandSecondaryActive: rgba($colorBlue, 0.5);
$lightControlBackgroundBase: $colorWhite;
$lightControlBackgroundPrimaryInverse: $colorWhite;

$lightControlBorderBase: #ccd3db;
$lightControlBorderBaseHover: #80bcff;
$lightControlBorderCritical: rgba($colorRed, 0.75);
$lightControlBackgroundCriticalTransparent: rgba(#fcf3f3, 0.85);
$lightControlBackgroundCriticalTransparentHover: rgba(#fbe1e1, 0.85);
$lightControlBackgroundCritical: linear-gradient(
        0deg,
        rgba(252, 243, 243, 0.85),
        rgba(252, 243, 243, 0.85)
    ),
    #fff;
$lightControlBackgroundCriticalHover: linear-gradient(
        0deg,
        rgba(251, 225, 225, 0.85),
        rgba(251, 225, 225, 0.85)
    ),
    #fff;
$lightControlBackgroundCriticalMain: rgba($colorRed, 0.25);
$lightControlBorderBaseFocus: $colorBlue;
$lightControlBorderBrand: $colorBlue;
$lightControlBorderBrandSecondary: #{rgba($colorBlue, 0.5)};

$lightControlBorderSecondary: rgba(#ccd3db, 0.5);
$lightControlBackgroundSuccessSecondary: rgba(#3b8d39, 0.1);
$lightControlBackgroundBaseActive: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.04),
        rgba(0, 122, 255, 0.04)
    ),
    #fff;

// =============== SYSTEM ===============

$lightSystemAccent: $colorBlack;
$lightSystemAppleBackground: $colorBlack;
$lightSystemBackgroundAlertSecondary: rgba(#252525, 0.8);
$lightSystemBorderAlert: rgba(#3c3c43, 0.3);
$lightSystemBackgroundAlertIOS: #2c2c2e;
$lightSystemBackgroundClose: rgba(#767680, 0.12);
$lightSystemBorderTabBar: rgba($colorBlack, 0.3);
$test: rgba(0, 122, 255, 1);

// =================== ELEVATIONS ================

$lightElevationBase: 0 0 toRem(12) rgba($colorBlack, 0.06);
$lightElevationBaseHover: 0 0 toRem(12) rgba($colorBlack, 0.12);
$lightElevationBrand: 0 0 toRem(12) rgba($colorBlue, 0.06);
$lightElevationBrandHover: 0 0 toRem(12) rgba($colorBlue, 0.12);
$lightElevationCritical: 0 0 toRem(12) rgba($colorRed, 0.06);
$lightElevationCriticalHover: 0 0 toRem(12) rgba($colorRed, 0.12);

// ==========================================
// =============== DARK THEME ===============
// ==========================================

$darkBackgroundBase: $colorDark;
$darkBackgroundBrand: $colorBlue;
$darkBackgroundSecondary: $colorBlack;
$darkBackgroundOverlay: rgba(#000, 0.5);
$darkBackgroundOverlaySecondary: rgba($colorDark, 0.5);
$darkBackgroundCritical: rgba(#551d1e, 0.85);
$darkBackgroundBaseGradient: linear-gradient(
    180deg,
    rgba(28, 35, 41, 0) 0%,
    rgba(28, 35, 41, 0.65) 28.5%,
    $colorDark 100%
);
$darkBackgroundOverlayGradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 28.5%,
    #000 100%
);
$darkBackgroundOverlayGradientTop: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
);

// =============== TYPOGRAPHY ===============

$darkTextBrand: #74b6ff;
$darkTextBrandHover: #005bbf;
$darkTextBase: $colorWhite;
$darkTextSecondary: #91979e;
$darkTextOnBrand: $colorWhite;
$darkTextOnCritical: $colorWhite;
$darkTextSecondaryOnBrand: rgba($colorWhite, 0.75);
$darkTextOnPrimaryInverse: $colorBlue;
$darkTextPlaceholder: rgba(#91979e, 0.75);
$darkTextPlaceholderFocus: #91979e;
$darkTextSuccess: #8ff08d;
$darkTextCritical: #fd4040;
$darkTextOnBrandInverse: $colorWhite;

// =============== CONTROLS ===============

$darkControlBackgroundBrand: $colorBlue;
$darkControlBackgroundBrandHover: #0068d9;
$darkControlBackgroundBrandSecondaryInverse: rgba($colorWhite, 0.25);
$darkControlBackgroundBrandSecondary: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.08),
        rgba(0, 122, 255, 0.08)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
    $colorDark;
$darkControlBackgroundBrandSecondaryHover: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.16),
        rgba(0, 122, 255, 0.16)
    ),
    $colorWhite;
$darkControlBackgroundBrandSecondaryTransparent: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.08),
        rgba(0, 122, 255, 0.08)
    ),
    rgba(255, 255, 255, 0.08);
$darkControlBackgroundBrandSecondaryTransparentHover: rgba($colorBlue, 0.16);
$darkControlBackgroundBrandSecondaryActive: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.25),
        rgba(0, 122, 255, 0.25)
    ),
    rgba(255, 255, 255, 0.25);
$darkControlBackgroundBase: $colorDark;
$darkControlBackgroundPrimaryInverse: $colorWhite;

$darkControlBorderBase: #4f575e;
$darkControlBorderBaseHover: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.25),
        rgba(0, 122, 255, 0.25)
    ),
    rgba(255, 255, 255, 0.25);
$darkControlBorderCritical: rgba($colorRed, 0.75);
$darkControlBackgroundCriticalTransparent: rgba(#551d1e, 0.85);
$darkControlBackgroundCriticalTransparentHover: rgba(#fbe1e1, 0.85);
$darkControlBackgroundCritical: linear-gradient(
        0deg,
        rgba(85, 29, 30, 0.85),
        rgba(85, 29, 30, 0.85)
    ),
    #000;
$darkControlBackgroundCriticalHover: linear-gradient(
        0deg,
        rgba(251, 225, 225, 0.85),
        rgba(251, 225, 225, 0.85)
    ),
    #fff;
$darkControlBackgroundCriticalMain: rgba($colorRed, 0.25);
$darkControlBorderBaseFocus: #74b6ff;
$darkControlBorderBrand: #74b6ff;
$darkControlBorderBrandSecondary: rgba(#74b6ff, 0.5);

$darkControlBorderSecondary: rgba(#828b94, 0.5);
$darkControlBackgroundSuccessSecondary: rgba(#3b8d39, 0.1);
$darkControlBackgroundBaseActive: linear-gradient(
        0deg,
        rgba(0, 122, 255, 0.15),
        rgba(0, 122, 255, 0.15)
    ),
    $colorDark;

// =============== SYSTEM ===============

$darkSystemAccent: $colorWhite;
$darkSystemAppleBackground: $colorWhite;
$darkSystemBackgroundAlertSecondary: rgba($colorWhite, 0.8);
$darkSystemBorderAlert: rgba(#545458, 0.65);
$darkSystemBackgroundAlertIOS: rgba(#1e1e1e, 0.75);
$darkSystemBackgroundClose: rgba(#767680, 0.12);
$darkSystemBorderTabBar: rgba($colorWhite, 0.3);

// =================== ELEVATIONS ================

$darkElevationBase: 0 0 toRem(12) rgba($colorBlack, 0.06);
$darkElevationBaseHover: 0 0 toRem(12) rgba($colorBlack, 0.12);
$darkElevationBrand: 0 0 toRem(12) rgba($colorBlue, 0.06);
$darkElevationBrandHover: 0 0 toRem(12) rgba($colorBlue, 0.12);
$darkElevationCritical: 0 0 toRem(12) rgba($colorRed, 0.06);
$darkElevationCriticalHover: 0 0 toRem(12) rgba($colorRed, 0.12);
