$spaces: (
    black: toRem(2),
    red: toRem(4),
    green: toRem(6),
    blue: toRem(8),
    yellow: toRem(12),
    orange: toRem(16),
    gray: toRem(20),
    purple: toRem(24),
    pink: toRem(32),
    beige: toRem(40),
    brown: toRem(76),
);
