.collapse {
    border-bottom: 1px solid #ccc;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: toRem(12) 0;
    }

    &__title {
        flex-grow: 1;
    }

    &__icon {
        width: toRem(30);
        height: toRem(30);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: toRem(16);

        transform: rotate(-90deg);
        transition: transform 0.3s ease;

        &.is-active {
            transform: rotate(0);
        }
    }
}
