@mixin newFont($family, $pathName, $weight, $style: normal) {
    @font-face {
        font-family: '#{$family}';
        src: url('/public/fonts/#{$pathName}.woff2') format('woff2'), url('/public/fonts/#{$pathName}.woff') format('woff');
        font-weight: #{$weight};
        font-style: $style;
        font-display: swap;
    }
}

@include newFont($mainFontFamily, 'Inter-Regular', 400);
@include newFont($mainFontFamily, 'Inter-Medium', 500);
@include newFont($mainFontFamily, 'Inter-Bold', 700);
@include newFont($mainFontFamily, 'Inter-ExtraBold', 800);

@include newFont(icon, 'icons/iconfont', 400);
